---
http_interactions:
- request:
    method: get
    uri: https://us1.api.mailchimp.com/3.0/ping
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dXNlcjpmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZi11czE=
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Definitions/ProblemDetailDocument.json>;
        rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"type":"https://mailchimp.com/developer/marketing/docs/errors/","title":"API
        Key Invalid","status":401,"detail":"Your API key may be invalid, or you''ve
        attempted to access the wrong datacenter.","instance":"84243ebd-9778-4f7a-84ab-8face115e476"}'
  recorded_at: Fri, 01 Jan 2010 08:00:00 GMT
- request:
    method: post
    uri: https://us1.api.mailchimp.com/3.0/lists/de95a6457e/members/cc5b8768b1e5dfd2b6a69828a4fea0a7/events
    body:
      encoding: UTF-8
      string: '{"name":"confirmed_attendee","properties":{"show_date":"4-16-2021"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dXNlcjpmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZi11czE=
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Definitions/ProblemDetailDocument.json>;
        rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"type":"https://mailchimp.com/developer/marketing/docs/errors/","title":"API
        Key Invalid","status":401,"detail":"Your API key may be invalid, or you''ve
        attempted to access the wrong datacenter.","instance":"381ced20-50b4-4856-b114-dee2641d131d"}'
  recorded_at: Fri, 01 Jan 2010 08:00:00 GMT
recorded_with: VCR 3.0.3
