---
http_interactions:
- request:
    method: get
    uri: https://us1.api.mailchimp.com/3.0/ping
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dXNlcjo1MTQyODg0OTZkNDFlNjA3Yjc3MWYxZWMyNWEzMDU1YS11czE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Ping.json>; rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"health_status":"Everything''s Chimpy!"}'
  recorded_at: Fri, 01 Jan 2010 08:00:01 GMT
- request:
    method: post
    uri: https://us1.api.mailchimp.com/3.0/lists/de95a6457e/segments
    body:
      encoding: UTF-8
      string: '{"name":"Segment Name","static_segment":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dXNlcjo1MTQyODg0OTZkNDFlNjA3Yjc3MWYxZWMyNWEzMDU1YS11czE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Lists/Segments/Instance.json>; rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"id":1608150,"name":"Segment Name","member_count":0,"type":"static","created_at":"2021-05-02T23:37:04+00:00","updated_at":"2021-05-02T23:37:04+00:00","list_id":"de95a6457e","_links":[{"rel":"self","href":"https://us1.api.mailchimp.com/3.0/lists/de95a6457e/segments/1608150","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Segments/Response.json"},{"rel":"parent","href":"https://us1.api.mailchimp.com/3.0/lists/de95a6457e/segments","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Segments/CollectionResponse.json","schema":"https://us1.api.mailchimp.com/schema/3.0/Paths/Lists/Segments/Collection.json"},{"rel":"delete","href":"https://us1.api.mailchimp.com/3.0/lists/de95a6457e/segments/1608150","method":"DELETE"},{"rel":"update","href":"https://us1.api.mailchimp.com/3.0/lists/de95a6457e/segments/1608150","method":"PATCH","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Segments/Response.json","schema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Segments/PATCH.json"},{"rel":"members","href":"https://us1.api.mailchimp.com/3.0/lists/de95a6457e/segments/1608150/members","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Segments/Members/Response.json"}]}'
  recorded_at: Fri, 01 Jan 2010 08:00:01 GMT
recorded_with: VCR 3.0.3
