---
http_interactions:
- request:
    method: get
    uri: https://us1.api.mailchimp.com/3.0/ping
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dXNlcjo1MTQyODg0OTZkNDFlNjA3Yjc3MWYxZWMyNWEzMDU1YS11czE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Ping.json>; rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"health_status":"Everything''s Chimpy!"}'
  recorded_at: Fri, 01 Jan 2010 08:00:01 GMT
- request:
    method: get
    uri: https://us1.api.mailchimp.com/3.0/lists/de95a6457e/segments?count=1&exclude_fields=_links
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dXNlcjo1MTQyODg0OTZkNDFlNjA3Yjc3MWYxZWMyNWEzMDU1YS11czE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Lists/Segments/Collection.json>;
        rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"segments":[{"id":1604350,"name":"Customer","member_count":1,"type":"static","created_at":"2021-04-29T01:51:58+00:00","updated_at":"2021-04-29T01:52:04+00:00","list_id":"de95a6457e","_links":[{"rel":"self","href":"https://us1.api.mailchimp.com/3.0/lists/de95a6457e/segments/1604350","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Segments/Response.json"},{"rel":"parent","href":"https://us1.api.mailchimp.com/3.0/lists/de95a6457e/segments","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Segments/CollectionResponse.json","schema":"https://us1.api.mailchimp.com/schema/3.0/Paths/Lists/Segments/Collection.json"},{"rel":"delete","href":"https://us1.api.mailchimp.com/3.0/lists/de95a6457e/segments/1604350","method":"DELETE"},{"rel":"update","href":"https://us1.api.mailchimp.com/3.0/lists/de95a6457e/segments/1604350","method":"PATCH","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Segments/Response.json","schema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Segments/PATCH.json"},{"rel":"members","href":"https://us1.api.mailchimp.com/3.0/lists/de95a6457e/segments/1604350/members","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Segments/Members/Response.json"}]}],"list_id":"de95a6457e","total_items":2}'
  recorded_at: Fri, 01 Jan 2010 08:00:02 GMT
recorded_with: VCR 3.0.3
